{% extends 'store/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block body %}
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>FRESH</span>-SHOP</h1>
									<h2>100% FRESH VEGETABLES</h2>
									<p>На нашем сайте всего за пару минут можно купить свежие овощи с разных концов света. Здесь традиционный картофель, морковь, лук и тыква и достаточно редкие сорта .</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'vendor/images/home/vegetebles.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{% static 'vendor/images/home/fresh.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>FRESH</span>-SHOP</h1>
									<h2>100% FRESH FRUITS</h2>
									<p> самые вкусные и свежие фрукты!!! Вот и солнышко взошло! Мама дарит нам тепло! И, как фрукты дети зреют, Если их заботой греют! </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'vendor/images/home/fruits.jpg' %}" class="girl img-responsive" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>FRESH</span>-SHOP</h1>
									<h2>100% FRESH MEAT</h2>
									<p> Мясо не только приносит пользу, но и доставляет удовольствие, являясь основой разнообразных вкусных блюд. Предлагаем Вам купить мясо из нашего ассортимента. </p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'vendor/images/home/red-meat.jpg' %}" class="girl img-responsive" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">

						<div class="brands_products"><!--brands_products-->
							<h2>Продукция</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a href="{% url 'shop:category' category_id=1 %}"> <span class="pull-right">( {{ products_vegetables_count }} )</span>Овощи</a></li>
                                    <li><a href="{% url 'shop:category' category_id=2 %}"> <span class="pull-right">( {{ products_fruits_count }} )</span>Фрукты</a></li>
                                    <li><a href="{% url 'shop:category' category_id=3 %}"> <span class="pull-right">( {{ products_meat_count }} )</span>Мясо</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->

						
						<div class="shipping text-center"><!--shipping-->
							<img src="{% static 'vendor/images/home/delivery.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">овощи</h2>
                        {% for product in products_vegetables %}
                        <div class="col-sm-4">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo text-center">
											<img src="{{ product.image.url }}" alt="" />
											<h2>{{ product.price }} $</h2>
											<p>{{ product.name }}</p>
											<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="product-overlay">
											<div class="overlay-content">
												<h2>{{ product.price }} $</h2>
												<p>{{ product.name }}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</div>
								</div>
								<div class="choose">
									<ul class="nav nav-pills nav-justified">
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
										<li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
									</ul>
								</div>
							</div>
						</div>
                        {% endfor %}

					</div><!--features_items-->
					
					<div class="category-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a href="#овощи" data-toggle="tab">овощи</a></li>
								<li><a href="#фрукты" data-toggle="tab">фрукты</a></li>
								<li><a href="#мясо" data-toggle="tab">мясо</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="овощи" >
                                {% for product in products_vegetables_for_page %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ product.image.url }}" alt="" />
												<h2>{{ product.price}} $</h2>
												<p>{{ product.name }}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
							
							<div class="tab-pane fade" id="фрукты" >
                                {% for product in products_fruits_for_page %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ product.image.url }}" alt="" />
												<h2>{{ product.price }} $</h2>
												<p>{{ product.name }}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
							
							<div class="tab-pane fade" id="мясо" >
                                {% for product in products_meat %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												<img src="{{ product.image.url }}" alt="" />
												<h2>{{ product.price }} $</h2>
												<p>{{ product.name }}</p>
												<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											
										</div>
									</div>
								</div>
                                {% endfor %}
							</div>
						</div>
					</div><!--/category-tab-->

					
				</div>
			</div>
		</div>
	</section>
	

	

  
    <script src="{% static 'vendor/js/jquery.js' %}"></script>
	<script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'vendor/js/jquery.scrollUp.min.js' %}"></script>
	<script src="{% static 'vendor/js/price-range.js' %}"></script>
    <script src="{% static 'vendor/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'vendor/js/main.js' %}"></script>
{% endblock body %}
</html>